.services_btn {
  width: 145px;
  height: 130px;
  background: #ffffff;
}

.info_btn {
  z-index: 2;
  position: absolute;
  left: 2%;
  top: 70%;
  // margin-bottom: 10%;
  top: 75%;
  left: 25px;
}

.bk-img {
  position: relative;
  ion-header {
    position: absolute;
    z-index: 99;
    top: -8px;
    .sc-ion-back-button-md-h {
      --icon-font-size: 34px;
      --icon-font-size: 40px;
      margin-top: 18px;
      --icon-font-size: 50px;
      margin-top: 25px;
      // --icon-font-size: 26px;
    }
  }

  .title-holder {
    position: absolute;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    // left: 28px;
    // top: 45px;
    left: 248px;
    top: 35px;
    h2 {
      font-weight: bold;
      font-size: 14px;
    }
    h6 {
      opacity: 0.8;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 1.2px;
    }
  }

  .text-holder {
    position: absolute;
    top: 52%;
    top: 56%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 80%;
    span {
      font-size: 3em;
      font-size: 2em;
      font-weight: bold;
    }
    span.left {
      position: absolute;
      left: -30px;
      left: -20px;
      top: -12px;
    }
    span.right {
      position: absolute;
      right: 40px;
      top: 31px;
      right: 12px;
      top: 16px;
    }
    h6 {
      font-weight: bold;
      font-size: 12px;
      margin: 0;
    }
  }
}

ion-searchbar.sc-ion-searchbar-md-h.sc-ion-searchbar-md-s.md.searchbar-left-aligned.hydrated {
  width: 82%;
  margin: 0 auto;
}

:host {
  .button-solid {
    // --background: #7dd8f5d1;
    --background: #7dd8f5;
    --color: #000000;
    height: 45px;
    font-weight: bold;
    // height: 30px;
    height: 35px;
    // font-size: 10px;
    font-size: 11px;
  }
  .button-solid.back-arrow {
    --background: none;
    --box-shadow: none;
    height: auto;
  }
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-header {
  --background: transparent;
  --ion-color-base: transparent !important;
}

.btn-holder {
  /* position: absolute; */
  /* right: 60px; */
  /* top: 50%; */
  margin-right: 40px;
  /* transform: translate(10px, -50%); */
  button {
    background: transparent;
    ion-icon {
      font-size: 2.2em;
    }
    .heart {
      fill: #fe0f42;
    }
    .empty-heart {
      fill: grey;
    }
  }
}
