<ion-tabs>
    <ion-tab-bar slot="bottom" class="custom-tab">
      <ion-tab-button tab="settings">
        <ion-icon name="person" ></ion-icon>
        <!-- <div class="div-avatr">
            <img src="../assets/icon/tabs/user.png" />
        </div> -->
      </ion-tab-button>
  
      <ion-tab-button tab="cities">
        <ion-icon name="home" ></ion-icon>
        <!-- <div class="div-avatr">
            <img src="../assets/icon/tabs/home.png" />
        </div> -->
      </ion-tab-button>
  
      <ion-tab-button tab="favorites">
        <ion-icon name="heart"></ion-icon>
        <!-- <div class="div-avatr bigger" >
            <img src="../assets/icon/tabs/heart.png" />
        </div> -->
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>