<ion-content>
  <div class="bk-img">
    <img src="../assets/img/hero-bk/city.png" />
  </div>

  <div class="bk-line">
    <h3>Choose a city</h3>
  </div>

  <ion-searchbar placeholder="Search for a city"></ion-searchbar>

  <ion-grid>
    <ion-row nowrap>
      <ion-col><div></div></ion-col>
      <ion-col>
        <div class="city-holder">
          <button [routerLink]="['rome']" class="city_btn">
            <img src="../assets/img/cities/rome.PNG" />
          </button>
          <!-- <input type="checkbox" id="rome_check" /> -->
        </div>
      </ion-col>
      <ion-col><div></div></ion-col>
      <ion-col>
        <div class="city-holder">
          <button [routerLink]="['paris']" class="city_btn">
            <img src="../assets/img/cities/Paris.PNG" />
          </button>
          <!-- <input type="checkbox" id="rome_check" /> -->
        </div>
      </ion-col>
      <ion-col><div></div></ion-col>
    </ion-row>

    <ion-row nowrap>
      <ion-col><div></div></ion-col>
      <ion-col>
        <div class="city-holder">
          <button [routerLink]="['barcelona']" class="city_btn">
            <img src="../assets/img/cities/Barca.png" />
          </button>
          <!-- <input type="checkbox" id="rome_check" /> -->
        </div>
      </ion-col>
      <ion-col><div></div></ion-col>
      <ion-col>
        <div class="city-holder">
          <button [routerLink]="['belrin']" class="city_btn">
            <img src="../assets/img/cities/Belrin.png" />
          </button>
          <!-- <input type="checkbox" id="rome_check" /> -->
        </div>
      </ion-col>
      <ion-col><div></div></ion-col>
    </ion-row>

    <ion-row nowrap>
      <ion-col><div></div></ion-col>
      <ion-col>
        <div class="coming-soon">
          <button class="city_btn ">
            <img src="../assets/img/cities/Brussel.PNG" />
          </button>
          <h4>Coming Soon</h4>
        </div>
      </ion-col>
      <ion-col><div></div></ion-col>
      <ion-col>
        <div class="coming-soon">
          <button class="city_btn ">
            <img src="../assets/img/cities/Amsterdam.PNG" />
          </button>
          <h4>Coming Soon</h4>
        </div>
      </ion-col>
      <ion-col><div></div></ion-col>
    </ion-row>

    <ion-row nowrap>
      <ion-col><div></div></ion-col>
      <ion-col>
        <div class="coming-soon">
          <button class="city_btn">
            <img src="../assets/img/cities/Lisbona.PNG" />
          </button>
          <h4>Coming Soon</h4>
        </div>
      </ion-col>
      <ion-col><div></div></ion-col>
      <ion-col>
        <div class="coming-soon">
          <button class="city_btn ">
            <img src="../assets/img/cities/London.PNG" />
          </button>
          <h4>Coming Soon</h4>
        </div>
      </ion-col>
      <ion-col><div></div></ion-col>
    </ion-row>

    <ion-row nowrap>
      <ion-col><div></div></ion-col>
      <ion-col>
        <div class="coming-soon">
          <button class="city_btn">
            <img src="../assets/img/cities/Porto.PNG" />
          </button>
          <h4>Coming Soon</h4>
        </div>
      </ion-col>
      <ion-col><div></div></ion-col>
      <ion-col>
        <div class="coming-soon">
          <button class="city_btn coming-soon">
            <img src="../assets/img/cities/Madrid.PNG" />
          </button>
          <h4>Coming Soon</h4>
        </div>
      </ion-col>
      <ion-col><div></div></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
