ion-item.item.md.in-list.ion-focusable.hydrated.item-label {
    --border-style: none;
}

.sc-ion-segment-md-h {
    --background-checked: #bfecfa;
    --color-checked: #152429;
  }
  
  .content .content-text{
      width: 80%;
      margin: 16px auto;
  }